backup/
libs/freetype-2.10.0
libs/freetype-win
devlog/
build/screenshots/*
.vscode/settings.json
build/*
web_material/
.testing_new_functions/
build/graphics/GL_Gimps/Work_in_Progress
cmake-build-*/
.idea/

build/graphics/GL_Gimps


*.backup

!build/fonts
!build/graphics
!build/screenshots/.gitkeep
!build/shaders
#!build/main.exe
!build/mainWin.exe
!build/config.json
!build/world_2


!build/freetype.dll
!build/glew32.dll
!build/SDL2.dll
